# Introducting Pandas Objects

At the very basic level, Pandas objects can be throught of as enhanced versions of Numpy structured arrays in which the rows and columns are identified with labels rather than simple integer indices. Pandas provides a host of useful tools ,methods, and functionalities on top of the basic data structure, but nearly everything that follows will require an understanding of what these structures are. Thus, before we go any further, let's introduce these three fundamental Pandas data structures: Series, DataFrame, and Index.

In [6]:
import numpy as np
import pandas as pd

## The Pandas Series Object

A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array as follows:

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

As we see in the output, the Series wraps both a sequence of values and a sequence of indeces, which we can access with the values and index attributes. The values are smiply a familiar Numpy array.

In [9]:
data.values
# so data is data, data.value is data without index

array([0.25, 0.5 , 0.75, 1.  ])

The index is an array-like object of type pd.Index

In [10]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like numpy array, data can be accessed by the associated index via the familiar Python sqaured-bracket notation:

In [11]:
data[1]

0.5

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [13]:
## Series as generalized Numpy array

From what we've seen so far, it may look like the Series object is basically interchangeable with one-dimensional numpy array. They essential difference is the presence of the index: while the Numpy array has an implicit defined integer index used to access the values, the Pandas Series has an explicit defined index associated with the values.
This explicit index definition gives the Series object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type. For example, we can use string as an index:

In [16]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [17]:
# access data
data['b']

0.5

We can even use non-sequential indices

In [20]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = [2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [21]:
data[5]

0.5

## Series as specialized dictionary

In this way, you can think of a Pandas Series a bit like a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure which maps typed keys to a set of typed values. This typing is important: just as the type-specific compiled code behind a numpy array makes of more efficient than a Python list for certain operations,the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations. 
The Series-as-dictionary analogy can be made even more clear by constructing a Series object directly from a Python dictionary:

In [24]:
population_dict = {'California': 38332521, 
                   'Taxas': 26338193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Taxas         26338193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

By default,a Series will be created where the index is drawn from the sorted keys. From here, typical dictionary-style item access can be performed:

In [25]:
population['California']

38332521

Unlike dictionary, a Series also supports array-stype operations such as slicing:

In [27]:
population['California':'New York']

California    38332521
Taxas         26338193
New York      19651127
dtype: int64

## Constructing Series objects

The patterns of constructing a Pandas Series is as below:
>pd.Series(data, index = index)
>
where index is an optional argument, and data can be one of many entities
For example, data can be a list or numpy array, in which case index defaults to an integer sequence:

In [28]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

data can be a scalar, which is repeated to fill the specified index:

In [29]:
pd.Series(5, index = [100, 200, 300])

100    5
200    5
300    5
dtype: int64

data can be a dictionary, in which index defaults to the sorted dictionary keys:

In [30]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In each case, the index can be explicitly set if a different result is preferred:

In [31]:
pd.Series({2:'a', 1:'b', 3:'c'}, index = [3, 2])

3    c
2    a
dtype: object

Notice that in this case, the Series is populated only with the explicitly identified keys.

## The Pandas DataFrame Obejct

The next fundamental structure in Pandas is DataFrame. Like the Series object, the DataFrame can be thought of either as generalization of numpy array, or as a specialization of a Python dictionary.

### DataFrame as a generalized Numpy array

If a Series is an analogy of a one-dimensional array with flexible indices, a DataFrame is an analogy of a two-dimensional array with both flexible rwo indices and flexible column names. You can think of a DataFrame as a sequence of aligned Series objects. Here, by 'aligned', we mean that they share the same index.

In [34]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now we have area along with population Series, we can use a dictionary to construct a single two-dimensional object containing this information:

In [38]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population      area
California  38332521.0  423967.0
Florida     19552860.0  170312.0
Illinois    12882135.0  149995.0
New York    19651127.0  141297.0
Taxas       26338193.0       NaN
Texas              NaN  695662.0

Like the Series object, the DataFrame has an index attribute that give access to the index labels:

In [39]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Taxas', 'Texas'], dtype='object')

In [40]:
states.columns

Index(['population', 'area'], dtype='object')

Thus the DataFrame can be thought of as a generalization of a two-dimensional Numpy array, where both the rows and columns have a generalized index for access the data.

### DataFrame as specialized dictionary

Similarly, we can also think of a DataFrame as a specializatio of a dictionary, where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data. For example, asking fpr the 'area' attribute returns the Series object containing the areas we saw earlier:

In [41]:
states['area']

California    423967.0
Florida       170312.0
Illinois      149995.0
New York      141297.0
Taxas              NaN
Texas         695662.0
Name: area, dtype: float64

Notice the potential point of confusion here: in a two-dimensional Numoy array, data[0] will return to the first row. For a DataFrame, data['col0'] will return the first column. Because of this, it is probably better to think about DataFrame as specialized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

### Constructing DataFrame objects

A DataFrame can be constructed in a variety of ways. Here are some examples:

#### From a single Series object

A DataFrame is a collection of Series objects, and a single-column DataFrame can be constructed from a single Series:

In [43]:
population

California    38332521
Taxas         26338193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [48]:
pd.DataFrame(population, columns = ['population'])
# the columns = ['xxx']  xxx is the name of the column

            population
California    38332521
Taxas         26338193
New York      19651127
Florida       19552860
Illinois      12882135

#### From a list of dicts

Any list of dictionaries can be made into a DataFrame.

In [52]:
data = [{'a':i, 'b': 2*i} for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [54]:
pd.DataFrame(data)
# the keys become columns and values becomes rows (obs)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys inthe dictionary are missing, Pandas will fit them with NaN values:

In [56]:
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

### From a dictionary of Series objects

As we saw before, a Dataframe can be constructed from a dictionary of Series objects as well:

In [59]:
pd.DataFrame({'population': population, 'area': area})

            population      area
California  38332521.0  423967.0
Florida     19552860.0  170312.0
Illinois    12882135.0  149995.0
New York    19651127.0  141297.0
Taxas       26338193.0       NaN
Texas              NaN  695662.0

### From a two-dimensional Numpy array

Given a two-dimensional array of data, we can create a DataFrame with any specified column and index names. If omitted, an integer index will be used for each:

In [61]:
pd.DataFrame(np.random.rand(3, 2), columns = ['foo', 'bar'], index = ['a', 'b', 'c'])

        foo      bar
a  0.051571  0.47276
b  0.020753  0.94943
c  0.678920  0.37305

### From a two-dimensional numpy array

In [64]:
A = np.zeros(3, dtype = [('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [65]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# The Pandas Index Object

The index object can be viewed as an immutabable (unchanged) array or as an ordered set (technically a multi-set, as Index object may contain repeated values)

In [66]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

## Index as immutable array

We can retrive value or slice indices just like operations with array.

In [67]:
ind[1]

3

In [68]:
ind[::2]
# x[::2]  # every other element

Int64Index([2, 5, 11], dtype='int64')

In [70]:
ind[1::2]
# x[::2]  # every other element, starting at index 1

Int64Index([3, 7], dtype='int64')

Index object also have many of the attributes familiar from Numpy arrays:

In [71]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One difference between Index object and Numpy array is that indeces are immutable - this means that they cannot be modified via the normal means:

In [72]:
ind[1] = 0

TypeError: Index does not support mutable operations

The immutability makes it safer to share indices between multiple DataFrames and arrays, without the potential side effects from inadvertent (by careless mistake) index modification.

## Index as ordered set

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic. The index object follows many of the conventions used by Python's built-in set data structurem so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [74]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [77]:
indA & indB # intersection
# remeber the text analysis example? all[false negative] = all[y_pred = 0 & y_test = 1]

Int64Index([3, 5, 7], dtype='int64')

In [78]:
indA|indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [82]:
indA^indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')